openapi: 3.2.0
info:
  title: Gencove Back Mfa API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: MFA
paths:
  /api/v2/mfa-disable/:
    delete:
      operationId: mfa_disable_destroy
      description: Disable MFA for your account.
      tags:
      - MFA
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
      summary: Mfa disable destroy
      x-summary-source: derived
  /api/v2/mfa-setup/:
    post:
      operationId: mfa_setup_create
      description: Initial step to add MFA to your account.
      tags:
      - MFA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUpMFA'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SetUpMFA'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SetUpMFA'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUpMFA'
          description: ''
      summary: Mfa setup create
      x-summary-source: derived
  /api/v2/mfa-status/:
    get:
      operationId: mfa_status_retrieve
      description: Returns the status of MFA of the user.
      tags:
      - MFA
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAStatus'
          description: ''
      summary: Mfa status retrieve
      x-summary-source: derived
  /api/v2/mfa-validate/:
    post:
      operationId: mfa_validate_create
      description: Second step to add MFA to your account.
      tags:
      - MFA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSetUpMFA'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ValidateSetUpMFA'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ValidateSetUpMFA'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateSetUpMFA'
          description: ''
      summary: Mfa validate create
      x-summary-source: derived
components:
  schemas:
    DeviceTypeEnum:
      enum:
      - generator
      - yubikey
      type: string
      description: '* `generator` - Token generator

        * `yubikey` - YubiKey'
    SetUpMFA:
      type: object
      properties:
        device_type:
          allOf:
          - $ref: '#/components/schemas/DeviceTypeEnum'
          writeOnly: true
        secret:
          type: string
          readOnly: true
          description: Authenticator secret, used when device_type is "generator"
        config_url:
          type: string
          format: uri
          readOnly: true
          description: Url to build the QR code image, used when device_type is "generator"
      required:
      - config_url
      - device_type
      - secret
    ValidateSetUpMFA:
      type: object
      description: Mixin to add token validation to serializers.
      properties:
        token:
          type: string
          writeOnly: true
        backup_tokens:
          type: array
          items: {}
          readOnly: true
      required:
      - backup_tokens
      - token
    MFAStatus:
      type: object
      description: Serializer just to use in swagger schema.
      properties:
        has_mfa_device:
          type: boolean
          readOnly: true
      required:
      - has_mfa_device
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
