openapi: 3.0.3
info:
  title: Gencove Back array file API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: API for Gencove REST service. Visit <a href='https://enterprise.gencove.com/'>enterprise.gencove.com</a> and <a href='https://docs.gencove.com/'>docs.gencove.com</a> for more information. <br><hr><p>To work with Insomnia, you can generate a Gencove API key by <a target='_blank' href='https://web.gencove.com/account?filter=api-keys'>clicking here</a>. Once you have the API key and have imported the project in Insomnia as a <i>Request Collection</i>, enter the key in Insomnia under <i>Manage Environment</i>.</p><a href='https://insomnia.rest/run/?label=back_api2&uri=https%3A%2F%2Fv2-api-files-prod.s3.amazonaws.com%2Fpublic%2Finsomnia%2Finsomnia_gencove_prod.json' target='_blank'>Run in Insomnia</a><hr>
servers:
- url: https://api.gencove.com
tags:
- name: file
paths:
  /api/v2/file-types/:
    get:
      operationId: file_types_list
      description: List all legal file types
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: object
        schema:
          type: string
          enum:
          - reference_genome
          - sample
        description: List file types for a specific object, defaults to sample
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: project_id
        schema:
          type: string
        description: List file types for a project
      tags:
      - file
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFileTypeList'
          description: ''
  /api/v2/files/{file_id}.sha256:
    get:
      operationId: files_.sha256_retrieve
      parameters:
      - in: path
        name: file_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - file
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          description: No response body
components:
  schemas:
    PaginatedFileTypeList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type: string
              format: uri
              nullable: true
            previous:
              type: string
              format: uri
              nullable: true
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/FileType'
    FileType:
      type: object
      properties:
        key:
          type: string
          description: File extension
          maxLength: 50
        description:
          type: string
      required:
      - key
  securitySchemes:
    API key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
