openapi: 3.2.0
info:
  title: Gencove Back Explorer API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Explorer
paths:
  /api/v2/explorer-access-url/:
    post:
      operationId: explorer_access_url_create
      description: Retrieves the Access URL for the given instance.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerInstanceAccessURL'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerInstanceAccessURL'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerInstanceAccessURL'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: Explorer access url create
      x-summary-source: derived
  /api/v2/explorer-cost-reporting/:
    get:
      operationId: explorer_cost_reporting_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Explorer
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExplorerCostReportRecordList'
          description: ''
      summary: Explorer cost reporting list
      x-summary-source: derived
  /api/v2/explorer-data-credentials/:
    post:
      operationId: explorer_data_credentials_create
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetExplorerDataCredentialsResponse'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetExplorerDataCredentialsResponse'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GetExplorerDataCredentialsResponse'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExplorerDataCredentialsResponse'
          description: ''
      summary: Explorer data credentials create
      x-summary-source: derived
  /api/v2/explorer-instances/:
    get:
      operationId: explorer_instances_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Explorer
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExplorerInstanceList'
          description: ''
      summary: Explorer instances list
      x-summary-source: derived
  /api/v2/explorer-instances-inactivity-stop/:
    post:
      operationId: explorer_instances_inactivity_stop_create
      description: Sets the inactivity threshold for the given instances.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStop'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStop'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStop'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: Explorer instances inactivity stop create
      x-summary-source: derived
  /api/v2/explorer-instances-inactivity-stop-organization/:
    get:
      operationId: explorer_instances_inactivity_stop_organization_retrieve
      tags:
      - Explorer
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerInstancesInactivityStopOrganization'
          description: ''
      summary: Explorer instances inactivity stop organization retrieve
      x-summary-source: derived
    post:
      operationId: explorer_instances_inactivity_stop_organization_create
      description: Sets the inactivity treshold for the user's organization.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStopOrganization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStopOrganization'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesInactivityStopOrganization'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: Explorer instances inactivity stop organization create
      x-summary-source: derived
  /api/v2/explorer-session-start/:
    post:
      operationId: explorer_session_start_create
      description: Start an Explorer session by setting the user_session cookie and returning a clean Explorer URL.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerSessionStart'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerSessionStart'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerSessionStart'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerSessionStartResponse'
          description: ''
      summary: Explorer session start create
      x-summary-source: derived
  /api/v2/explorer-shell-session-credentials/:
    post:
      operationId: explorer_shell_session_credentials_create
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerShellSessionCredentials'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerShellSessionCredentials'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerShellSessionCredentials'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerShellSessionCredentialsResponse'
          description: ''
      summary: Explorer shell session credentials create
      x-summary-source: derived
  /api/v2/explorer-start-instances/:
    post:
      operationId: explorer_start_instances_create
      description: Starts the given instances.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStart'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStart'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStart'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: Explorer start instances create
      x-summary-source: derived
  /api/v2/explorer-stop-instances/:
    post:
      operationId: explorer_stop_instances_create
      description: Stops the given instances.
      tags:
      - Explorer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStop'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStop'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExplorerInstancesStop'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: Explorer stop instances create
      x-summary-source: derived
components:
  schemas:
    FileNested:
      type: object
      description: Used for all nested files except for files associated with sample.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        s3_path:
          type: string
          description: S3 object key
          maxLength: 1024
        size:
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          description: Size as reported by AWS in bytes
        download_url:
          type: string
          readOnly: true
        file_type:
          type: string
          description: File extension
          readOnly: true
        checksum_sha256:
          type: string
          description: Object's sha256 Checksum
          maxLength: 64
        shadow_mode:
          type:
          - boolean
          - 'null'
          description: If true, file is only accessible by organizations with shadow mode access enabled.
      required:
      - download_url
      - file_type
      - id
    ExplorerInstancesStart:
      type: object
      properties:
        instance_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 100
          minItems: 1
      required:
      - instance_ids
    ExplorerCostReportRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        start_date:
          type: string
          format: date
          title: Cost Report Start Date
          description: First day of the month for this reporting cycle
        end_date:
          type: string
          format: date
          title: Cost Report End Date
          description: Last day of the month for this reporting cycle
        report_amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        is_current_report:
          type: boolean
          readOnly: true
        report_is_finalized:
          type: boolean
          description: If True, this record will no longer be automatically updated
        last_updated:
          type: string
          format: date-time
          readOnly: true
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileNested'
      required:
      - end_date
      - files
      - id
      - is_current_report
      - last_updated
      - start_date
    ExplorerSessionStart:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
    ExplorerInstanceAccessURL:
      type: object
      properties:
        id:
          type: string
          format: uuid
        access_token_expiration:
          type: integer
          maximum: 86400
          minimum: 1
          description: Number of seconds before the URL expires. Maximum is 86400 seconds.
      required:
      - id
    ExplorerShellSessionCredentials:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
      required:
      - instance_id
    ExplorerSessionStartResponse:
      type: object
      properties:
        explorer_url:
          type: string
          description: Clean Explorer URL to open after the session cookie is set.
        expires_in:
          type: integer
          description: Explorer session duration in seconds.
      required:
      - expires_in
      - explorer_url
    ExplorerShellSessionCredentialsResponse:
      type: object
      properties:
        version:
          type: integer
        access_key:
          type: string
        secret_key:
          type: string
        token:
          type: string
        expiry_time:
          type: string
          format: date-time
        region_name:
          type: string
        ec2_instance_id:
          type: string
        shell_session_ssm_document_name:
          type: string
        network_activity_ssm_document_name:
          type: string
      required:
      - access_key
      - ec2_instance_id
      - expiry_time
      - network_activity_ssm_document_name
      - region_name
      - secret_key
      - shell_session_ssm_document_name
      - token
      - version
    PaginatedExplorerCostReportRecordList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/ExplorerCostReportRecord'
    GetExplorerDataCredentialsResponse:
      type: object
      properties:
        version:
          type: integer
        access_key:
          type: string
        secret_key:
          type: string
        token:
          type: string
        expiry_time:
          type: string
          format: date-time
        region_name:
          type: string
      required:
      - access_key
      - expiry_time
      - region_name
      - secret_key
      - token
      - version
    ExplorerInstancesInactivityStop:
      type: object
      properties:
        instance_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 100
          minItems: 1
        stop_after_inactivity_hours:
          type:
          - integer
          - 'null'
          description: After how many hours of inactivity should an explorer instance be stopped. None -> adhere to org setting. 0 -> do not stop instance. Any number -> amount of hours to wait before stopping instance. If org.explorer_override_stop_after_inactivity_hours is True, this attribute doesn't have any effects.
      required:
      - instance_ids
      - stop_after_inactivity_hours
    ExplorerInstancesStop:
      type: object
      properties:
        instance_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 100
          minItems: 1
      required:
      - instance_ids
    ExplorerInstance:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          type: string
          readOnly: true
        stop_after_inactivity_hours:
          type:
          - integer
          - 'null'
          maximum: 4294967295
          minimum: 0
          format: int64
          description: After how many hours of inactivity should an explorer instance be stopped. None -> adhere to org setting. 0 -> do not stop instance. Any number -> amount of hours to wait before stopping instance. If org.explorer_override_stop_after_inactivity_hours is True, this attribute doesn't have any effects.
      required:
      - id
      - status
    PaginatedExplorerInstanceList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/ExplorerInstance'
    ExplorerInstancesInactivityStopOrganization:
      type: object
      properties:
        explorer_override_stop_after_inactivity_hours:
          type: boolean
        explorer_stop_after_inactivity_hours:
          type: integer
          description: 'After how many hours of inactivity should an explorer instance be stopped. If org.explorer_override_stop_after_inactivity_hours or instance.stop_after_inactivity_hours is None, then: 0 -> do not stop instances; Any number -> amount of hours to wait before stopping instances. Otherwise, use instance.stop_after_inactivity_hours.'
      required:
      - explorer_override_stop_after_inactivity_hours
      - explorer_stop_after_inactivity_hours
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
