openapi: 3.2.0
info:
  title: Gencove Back Billing API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Billing
paths:
  /api/v2/billing-portal/:
    post:
      operationId: billing_portal_create
      description: Retrieve currently logged in user's Stripe customer portal url.
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingPortal'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillingPortal'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BillingPortal'
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPortal'
          description: ''
      summary: Billing portal create
      x-summary-source: derived
components:
  schemas:
    BillingPortal:
      type: object
      properties:
        billing_portal_url:
          type: string
          format: uri
          readOnly: true
          description: Billing portal URL to go to.
      required:
      - billing_portal_url
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
