openapi: 3.2.0
info:
  title: Gencove Back Social API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Social
paths:
  /api/v2/social-disconnect/:
    post:
      operationId: social_disconnect_create
      description: Disconnect given providers' social account from current user.
      tags:
      - Social
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialDisconnect'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SocialDisconnect'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SocialDisconnect'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialDisconnect'
          description: ''
      summary: Social disconnect create
      x-summary-source: derived
  /api/v2/social-providers/:
    get:
      operationId: social_providers_list
      description: 'Return all available social providers, their autorization urls and user

        connected accounts.'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name
        schema:
          type: string
        description: Filter social providers by name
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Social
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSocialProviderList'
          description: ''
      summary: Social providers list
      x-summary-source: derived
  /api/v2/social-signup/:
    post:
      operationId: social_signup_create
      description: 'Associate Social user with logged in Django user.


        In social provider''s config, `redirect_uri` or a similar setting should

        be pointed to a url managed by the frontend app.

        Frontend app should pass on the info from social provider ie.

        ```

        {

        "provider": "basespace",

        "code": "foobar"

        }

        ```'
      tags:
      - Social
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialSignUp'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SocialSignUp'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SocialSignUp'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSignUp'
          description: ''
      summary: Social signup create
      x-summary-source: derived
components:
  schemas:
    SocialAccountNested:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created:
          type: string
          format: date-time
        social_account_id:
          type: string
        auth_time:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - auth_time
      - id
      - social_account_id
    PaginatedSocialProviderList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/SocialProvider'
    SocialDisconnect:
      type: object
      properties:
        provider:
          type: string
      required:
      - provider
    SocialProvider:
      type: object
      properties:
        name:
          type: string
        authorization_uri:
          type: string
          format: uri
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/SocialAccountNested'
          readOnly: true
          description: User connected social account
      required:
      - accounts
      - authorization_uri
      - name
    SocialSignUp:
      type: object
      properties:
        provider:
          type: string
        code:
          type: string
          description: Authorization code
      required:
      - code
      - provider
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
