openapi: 3.2.0
info:
  title: Gencove Back Role API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Role
paths:
  /api/v2/roles/{applies_to}:
    get:
      operationId: roles_list
      description: Method used to retrieve paginated roles.
      parameters:
      - in: path
        name: applies_to
        schema:
          type: string
          enum:
          - organization
          - project
        description: Filter roles by permission being applied to.
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Role
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRoleList'
          description: ''
      summary: Roles list
      x-summary-source: derived
components:
  schemas:
    Role:
      type: object
      description: Explicit representation of the roles from the Role enum.
      properties:
        name:
          type: string
          description: Name of the role.
        permissions:
          type: array
          items: {}
          description: List of the permissions the role has.
      required:
      - name
      - permissions
    PaginatedRoleList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/Role'
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
