openapi: 3.0.3
info:
  title: Gencove Back array firstmile API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: API for Gencove REST service. Visit <a href='https://enterprise.gencove.com/'>enterprise.gencove.com</a> and <a href='https://docs.gencove.com/'>docs.gencove.com</a> for more information. <br><hr><p>To work with Insomnia, you can generate a Gencove API key by <a target='_blank' href='https://web.gencove.com/account?filter=api-keys'>clicking here</a>. Once you have the API key and have imported the project in Insomnia as a <i>Request Collection</i>, enter the key in Insomnia under <i>Manage Environment</i>.</p><a href='https://insomnia.rest/run/?label=back_api2&uri=https%3A%2F%2Fv2-api-files-prod.s3.amazonaws.com%2Fpublic%2Finsomnia%2Finsomnia_gencove_prod.json' target='_blank'>Run in Insomnia</a><hr>
servers:
- url: https://api.gencove.com
tags:
- name: firstmile
paths:
  /api/v2/firstmile-s3-role-element/:
    get:
      operationId: firstmile_s3_role_element_retrieve
      tags:
      - firstmile
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3RoleElement'
          description: ''
    post:
      operationId: firstmile_s3_role_element_create
      tags:
      - firstmile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3RoleElement'
          description: ''
  /api/v2/firstmile-validate-illumina-samplesheet/:
    post:
      operationId: firstmile_validate_illumina_samplesheet_create
      description: 'Upload Illumina SampleSheet.csv and validate that it conforms with FirstMile demultiplexing

        requirements. Under the `[Data]` section, a custom column called `Gencove_Project_ID` must

        be present; each sample must contain a valid, existing Gencove project ID value in this

        column.'
      parameters:
      - in: query
        name: illumina_samplesheet
        schema:
          type: string
          format: binary
        description: Illumina SampleSheet.csv file
        required: true
      tags:
      - firstmile
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          description: No response body
components:
  schemas:
    S3RoleElement:
      type: object
      properties:
        role_arn:
          type: string
          maxLength: 2048
        external_id:
          type: string
          format: uuid
        aws_region:
          type: string
          readOnly: true
        s3_bucket:
          type: string
          maxLength: 64
        s3_prefix:
          type: string
          maxLength: 512
      required:
      - aws_region
  securitySchemes:
    API key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
