openapi: 3.2.0
info:
  title: Gencove Back Firstmile API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: firstmile
paths:
  /api/v2/firstmile-s3-role-element/:
    get:
      operationId: firstmile_s3_role_element_retrieve
      tags:
      - firstmile
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3RoleElement'
          description: ''
      summary: Firstmile s3 role element retrieve
      x-summary-source: derived
    post:
      operationId: firstmile_s3_role_element_create
      tags:
      - firstmile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3RoleElement'
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3RoleElement'
          description: ''
      summary: Firstmile s3 role element create
      x-summary-source: derived
  /api/v2/firstmile-validate-illumina-samplesheet/:
    post:
      operationId: firstmile_validate_illumina_samplesheet_create
      description: 'Upload Illumina SampleSheet.csv and validate that it conforms with FirstMile demultiplexing

        requirements. Under the `[Data]` section, a custom column called `Gencove_Project_ID` must

        be present; each sample must contain a valid, existing Gencove project ID value in this

        column.'
      parameters:
      - in: query
        name: illumina_samplesheet
        schema:
          type: string
          format: binary
        description: Illumina SampleSheet.csv file
        required: true
      tags:
      - firstmile
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          description: No response body
      summary: Firstmile validate illumina samplesheet create
      x-summary-source: derived
components:
  schemas:
    S3RoleElement:
      type: object
      properties:
        role_arn:
          type: string
          maxLength: 2048
        external_id:
          type: string
          format: uuid
        aws_region:
          type: string
          readOnly: true
        s3_bucket:
          type: string
          maxLength: 64
        s3_prefix:
          type: string
          maxLength: 512
      required:
      - aws_region
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
