openapi: 3.2.0
info:
  title: Gencove Back Batch API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Batch
paths:
  /api/v2/batches/{batch_id}:
    get:
      operationId: batches_retrieve
      parameters:
      - in: path
        name: batch_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Batch
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
          description: ''
      summary: Batches retrieve
      x-summary-source: derived
components:
  schemas:
    BatchDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 254
        batch_type:
          type: string
          description: Key from pipeline config
          readOnly: true
        sample_ids:
          type: array
          items:
            type: string
            format: uuid
        last_status:
          allOf:
          - $ref: '#/components/schemas/BatchStatusNested'
          readOnly: true
        files:
          type: array
          items:
            $ref: '#/components/schemas/BatchFileNested'
          readOnly: true
          description: Batch files
      required:
      - batch_type
      - files
      - id
      - last_status
      - sample_ids
    BatchStatusNested:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          type: string
        created:
          type: string
          format: date-time
      required:
      - id
      - status
    BatchFileNested:
      type: object
      description: Sets batch.id as filename in file download_url.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        s3_path:
          type: string
          description: S3 object key
          maxLength: 1024
        size:
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          description: Size as reported by AWS in bytes
        download_url:
          type: string
          format: uri
          readOnly: true
          description: Download url
        file_type:
          type: string
          description: File extension
          readOnly: true
        checksum_sha256:
          type: string
          description: Object's sha256 Checksum
          maxLength: 64
        shadow_mode:
          type:
          - boolean
          - 'null'
          description: If true, file is only accessible by organizations with shadow mode access enabled.
      required:
      - download_url
      - file_type
      - id
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
