openapi: 3.2.0
info:
  title: Gencove Back Invitation API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Invitation
paths:
  /api/v2/invitations/:
    get:
      operationId: invitations_list
      description: List invites for an organization.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: status
        schema:
          type: string
          enum:
          - accepted
          - all
          - expired
          - pending
          - revoked
        description: Filter invites by their status
      tags:
      - Invitation
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvitationList'
          description: ''
      summary: Invitations list
      x-summary-source: derived
    post:
      operationId: invitations_create
      description: Invite Gencove user to actors's organization.
      tags:
      - Invitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInvite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateInvite'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: ''
      summary: Invitations create
      x-summary-source: derived
  /api/v2/invitations-token/{token}:
    get:
      operationId: invitations_token_retrieve
      description: Get invitation details by token.
      parameters:
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - Invitation
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationDetails'
          description: ''
      summary: Invitations token retrieve
      x-summary-source: derived
    patch:
      operationId: invitations_token_partial_update
      description: Handle invitation acceptance.
      parameters:
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - Invitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedInvitationDetails'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedInvitationDetails'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedInvitationDetails'
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationDetails'
          description: ''
      summary: Invitations token partial update
      x-summary-source: derived
  /api/v2/invitations/{invitation_id}:
    delete:
      operationId: invitations_destroy
      description: 'Invitation details and management.


        Retrieving is enabled for all users, even unauthorized ones.

        Update and delete are enabled for logged-in users and only if they have

        the appropriate relation to the invite.'
      parameters:
      - in: path
        name: invitation_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Invitation
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
      summary: Invitations destroy
      x-summary-source: derived
components:
  schemas:
    PaginatedInvitationList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
    InviteOrganization:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 254
      required:
      - id
      - name
    Invitation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        email:
          type:
          - string
          - 'null'
          format: email
          maxLength: 254
        last_status:
          allOf:
          - $ref: '#/components/schemas/InvitationStatus'
          readOnly: true
        expires:
          type: string
          format: date-time
          readOnly: true
        role:
          type: string
          maxLength: 255
      required:
      - expires
      - id
      - last_status
      - role
    CreateInvite:
      type: object
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          default: ''
      required:
      - email
    InvitationStatus:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          type: string
        created:
          type: string
          format: date-time
        actor:
          allOf:
          - $ref: '#/components/schemas/InvitationActor'
          readOnly: true
      required:
      - actor
      - id
      - status
    InvitationDetails:
      type: object
      description: Represent invitation for invitee.
      properties:
        token:
          type: string
          readOnly: true
        last_status:
          allOf:
          - $ref: '#/components/schemas/InvitationStatus'
          readOnly: true
        expires:
          type: string
          format: date-time
          readOnly: true
        organization:
          $ref: '#/components/schemas/InviteOrganization'
        role:
          type: string
          maxLength: 255
      required:
      - expires
      - last_status
      - organization
      - role
      - token
    InvitationActor:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 254
      required:
      - id
    PatchedInvitationDetails:
      type: object
      description: Represent invitation for invitee.
      properties:
        token:
          type: string
          readOnly: true
        last_status:
          allOf:
          - $ref: '#/components/schemas/InvitationStatus'
          readOnly: true
        expires:
          type: string
          format: date-time
          readOnly: true
        organization:
          $ref: '#/components/schemas/InviteOrganization'
        role:
          type: string
          maxLength: 255
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
