openapi: 3.2.0
info:
  title: Gencove Back Upload API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Upload
paths:
  /api/v2/upload-credentials/:
    post:
      operationId: upload_credentials_create
      tags:
      - Upload
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadCredentialsResponse'
          description: ''
      summary: Upload credentials create
      x-summary-source: derived
  /api/v2/uploads/:
    get:
      operationId: uploads_list
      description: Retrieve list of user uploads.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: search
        schema:
          type: string
        description: Search uploads by id
      - in: query
        name: status
        schema:
          type: string
          enum:
          - failed
          - started
          - succeeded
        description: Filter uploads by upload statuses
      tags:
      - Upload
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUploadList'
          description: ''
      summary: Uploads list
      x-summary-source: derived
  /api/v2/uploads-delete-unassigned/:
    post:
      operationId: uploads_delete_unassigned_create
      tags:
      - Upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletedUnassignedUploads'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeletedUnassignedUploads'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeletedUnassignedUploads'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedUnassignedUploads'
          description: ''
      summary: Uploads delete unassigned create
      x-summary-source: derived
  /api/v2/uploads-post-data/:
    post:
      operationId: uploads_post_data_create
      description: 'Returns info about initialized file upload based on posted file

        destination path.'
      tags:
      - Upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPostDataResponse'
          description: ''
      summary: Uploads post data create
      x-summary-source: derived
  /api/v2/uploads-presigned-post-data/:
    post:
      operationId: uploads_presigned_post_data_create
      description: 'Returns S3 presigned parameters needed for file upload as response for

        given file attributes.'
      tags:
      - Upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadPostDataCreate'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPresignedPostDataResponse'
          description: ''
      summary: Uploads presigned post data create
      x-summary-source: derived
  /api/v2/uploads-url/:
    post:
      operationId: uploads_url_create
      tags:
      - Upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadURLCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UploadURLCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadURLCreate'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadURLResponse'
          description: ''
      summary: Uploads url create
      x-summary-source: derived
  /api/v2/uploads/{upload_id}:
    get:
      operationId: uploads_retrieve
      description: Fetch single upload details
      parameters:
      - in: path
        name: upload_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Upload
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
          description: ''
      summary: Uploads retrieve
      x-summary-source: derived
components:
  schemas:
    Upload:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        last_status:
          allOf:
          - $ref: '#/components/schemas/UploadStatusNested'
          readOnly: true
        file:
          $ref: '#/components/schemas/FileNested'
        created:
          type: string
          format: date-time
        destination_path:
          type: string
          description: Destination path given by the user as an optional argument
          maxLength: 1024
        source:
          $ref: '#/components/schemas/SourceEnum'
        user:
          type:
          - string
          - 'null'
          format: uuid
        organization:
          type: string
          format: uuid
      required:
      - file
      - id
      - last_status
      - organization
      - source
    UploadURLCreate:
      type: object
      properties:
        destination_path:
          type: string
        source_url:
          type: string
          writeOnly: true
      required:
      - destination_path
      - source_url
    UploadPostDataCreate:
      type: object
      description: Used for both normal post data and presigned post data.
      properties:
        destination_path:
          type: string
      required:
      - destination_path
    S3ObjectNested:
      type: object
      properties:
        bucket:
          type: string
        object_name:
          type: string
    GetUploadCredentialsResponse:
      type: object
      properties:
        version:
          type: integer
        access_key:
          type: string
        secret_key:
          type: string
        token:
          type: string
        expiry_time:
          type: string
          format: date-time
      required:
      - access_key
      - expiry_time
      - secret_key
      - token
      - version
    AWSPresignedPostData:
      type: object
      properties:
        key:
          type: string
        AWSAccessKeyId:
          type: string
        policy:
          type: string
        signature:
          type: string
      required:
      - AWSAccessKeyId
      - key
      - policy
      - signature
    SourceEnum:
      enum:
      - cli
      - cli url
      - basespace
      - s3
      - array data
      type: string
      description: '* `cli` - cli

        * `cli url` - cli url

        * `basespace` - basespace

        * `s3` - s3

        * `array data` - array data'
    UploadPresignedPostDataResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
        fields:
          $ref: '#/components/schemas/AWSPresignedPostData'
      required:
      - fields
      - url
    UploadStatusNested:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          type: string
        note:
          type: string
        created:
          type: string
          format: date-time
      required:
      - id
      - status
    UploadPostDataResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        destination_path:
          type: string
        s3:
          allOf:
          - $ref: '#/components/schemas/S3ObjectNested'
          readOnly: true
        last_status:
          allOf:
          - $ref: '#/components/schemas/UploadStatusNested'
          readOnly: true
      required:
      - id
      - last_status
      - s3
    PaginatedUploadList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/Upload'
    UploadURLResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        destination_path:
          type: string
        s3:
          allOf:
          - $ref: '#/components/schemas/S3ObjectNested'
          readOnly: true
        last_status:
          allOf:
          - $ref: '#/components/schemas/UploadStatusNested'
          readOnly: true
        source:
          type: string
        source_url:
          type: string
          readOnly: true
      required:
      - id
      - last_status
      - s3
      - source
      - source_url
    DeletedUnassignedUploads:
      type: object
      properties:
        upload_ids:
          type: array
          items:
            type: string
            format: uuid
      required:
      - upload_ids
    FileNested:
      type: object
      description: Used for all nested files except for files associated with sample.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        s3_path:
          type: string
          description: S3 object key
          maxLength: 1024
        size:
          type:
          - integer
          - 'null'
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          description: Size as reported by AWS in bytes
        download_url:
          type: string
          readOnly: true
        file_type:
          type: string
          description: File extension
          readOnly: true
        checksum_sha256:
          type: string
          description: Object's sha256 Checksum
          maxLength: 64
        shadow_mode:
          type:
          - boolean
          - 'null'
          description: If true, file is only accessible by organizations with shadow mode access enabled.
      required:
      - download_url
      - file_type
      - id
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
