openapi: 3.0.3
info:
  title: Gencove Back array basespace API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: API for Gencove REST service. Visit <a href='https://enterprise.gencove.com/'>enterprise.gencove.com</a> and <a href='https://docs.gencove.com/'>docs.gencove.com</a> for more information. <br><hr><p>To work with Insomnia, you can generate a Gencove API key by <a target='_blank' href='https://web.gencove.com/account?filter=api-keys'>clicking here</a>. Once you have the API key and have imported the project in Insomnia as a <i>Request Collection</i>, enter the key in Insomnia under <i>Manage Environment</i>.</p><a href='https://insomnia.rest/run/?label=back_api2&uri=https%3A%2F%2Fv2-api-files-prod.s3.amazonaws.com%2Fpublic%2Finsomnia%2Finsomnia_gencove_prod.json' target='_blank'>Run in Insomnia</a><hr>
servers:
- url: https://api.gencove.com
tags:
- name: basespace
paths:
  /api/v2/basespace-biosamples-import/:
    post:
      operationId: basespace_biosamples_import_create
      description: Add BaseSpace biosamples to a Gencove project.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          description: ''
  /api/v2/basespace-project-biosamples/{basespace_project_id}:
    get:
      operationId: basespace_project_biosamples_list
      description: List currently logged in user's biosamples in a BaseSpace project.
      parameters:
      - in: path
        name: basespace_project_id
        schema:
          type: string
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: sort_by
        schema:
          type: string
          enum:
          - basespace_bio_sample_name
          - basespace_date_created
          - basespace_date_modified
        description: Sort results
      - in: query
        name: sort_order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort direction
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceBioSampleList'
          description: ''
  /api/v2/basespace-projects/:
    get:
      operationId: basespace_projects_list
      description: List currently logged in user's BaseSpace projects.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: sort_by
        schema:
          type: string
          enum:
          - basespace_date_created
          - basespace_date_modified
          - basespace_name
        description: Sort results
      - in: query
        name: sort_order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort direction
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceProjectList'
          description: ''
  /api/v2/basespace-projects-autoimport/:
    get:
      operationId: basespace_projects_autoimport_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceProjectsAutoimportList'
          description: ''
    post:
      operationId: basespace_projects_autoimport_create
      description: Creates new autoimport job, if the job already exists updates metadata.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceProjectsAutoimportCreate'
          description: ''
  /api/v2/basespace-projects-autoimport/{basespace_project_import_id}:
    delete:
      operationId: basespace_projects_autoimport_destroy
      parameters:
      - in: path
        name: basespace_project_import_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
  /api/v2/basespace-projects-import/:
    post:
      operationId: basespace_projects_import_create
      description: Add all BaseSpace biosamples from BaseSpace projects to Gencove project.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceProjectsImport'
          description: ''
components:
  schemas:
    BaseSpaceProject:
      type: object
      description: Gencove representation of BaseSpace project.
      properties:
        basespace_id:
          type: string
        basespace_name:
          type: string
        basespace_description:
          type: string
        basespace_date_created:
          type: string
          format: date-time
        basespace_date_modified:
          type: string
          format: date-time
      required:
      - basespace_date_created
      - basespace_date_modified
      - basespace_description
      - basespace_id
      - basespace_name
    BaseSpaceProjectsAutoimport:
      type: object
      description: Gencove representation of BaseSpace projects to be imported periodically.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        project_id:
          type: string
          format: uuid
        identifier:
          type: string
        metadata:
          nullable: true
      required:
      - id
      - identifier
      - project_id
    PaginatedBaseSpaceBioSampleList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type: string
              format: uri
              nullable: true
            previous:
              type: string
              format: uri
              nullable: true
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceBioSample'
    PaginatedBaseSpaceProjectList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type: string
              format: uri
              nullable: true
            previous:
              type: string
              format: uri
              nullable: true
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceProject'
    BaseSpaceProjectsImport:
      type: object
      description: Gencove representation of BaseSpace projects to be imported.
      properties:
        project_id:
          type: string
          format: uuid
        basespace_project_ids:
          type: array
          items:
            type: string
        metadata:
          nullable: true
      required:
      - basespace_project_ids
      - project_id
    BaseSpaceBioSample:
      type: object
      description: Gencove representation of BaseSpace biosample.
      properties:
        basespace_id:
          type: string
        basespace_bio_sample_name:
          type: string
        basespace_date_created:
          type: string
          format: date-time
        basespace_date_modified:
          type: string
          format: date-time
        basespace_status:
          type: string
        basespace_lab_status:
          type: string
        basespace_user_owned_by_id:
          type: string
      required:
      - basespace_bio_sample_name
      - basespace_date_created
      - basespace_date_modified
      - basespace_id
      - basespace_lab_status
      - basespace_status
      - basespace_user_owned_by_id
    BaseSpaceBioSamplesImport:
      type: object
      description: Project and accompanying BaseSpace biosamples to be imported.
      properties:
        project_id:
          type: string
          format: uuid
        basespace_bio_samples:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceBioSampleNested'
        metadata:
          nullable: true
      required:
      - basespace_bio_samples
      - project_id
    BaseSpaceBioSampleNested:
      type: object
      description: Single BaseSpace biosample to be imported.
      properties:
        basespace_id:
          type: string
        client_id:
          type: string
        sample:
          type: string
          format: uuid
          readOnly: true
      required:
      - basespace_id
      - client_id
      - sample
    PaginatedBaseSpaceProjectsAutoimportList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type: string
              format: uri
              nullable: true
            previous:
              type: string
              format: uri
              nullable: true
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
    BaseSpaceProjectsAutoimportCreate:
      type: object
      description: Gencove representation of BaseSpace projects create and update autoimport response.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        metadata:
          nullable: true
          description: Additional information to be attached to the Sample instances.
        action:
          type: string
          readOnly: true
      required:
      - action
      - id
  securitySchemes:
    API key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
