openapi: 3.0.3
info:
  title: Gencove Back array batch API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: API for Gencove REST service. Visit <a href='https://enterprise.gencove.com/'>enterprise.gencove.com</a> and <a href='https://docs.gencove.com/'>docs.gencove.com</a> for more information. <br><hr><p>To work with Insomnia, you can generate a Gencove API key by <a target='_blank' href='https://web.gencove.com/account?filter=api-keys'>clicking here</a>. Once you have the API key and have imported the project in Insomnia as a <i>Request Collection</i>, enter the key in Insomnia under <i>Manage Environment</i>.</p><a href='https://insomnia.rest/run/?label=back_api2&uri=https%3A%2F%2Fv2-api-files-prod.s3.amazonaws.com%2Fpublic%2Finsomnia%2Finsomnia_gencove_prod.json' target='_blank'>Run in Insomnia</a><hr>
servers:
- url: https://api.gencove.com
tags:
- name: batch
paths:
  /api/v2/batches/{batch_id}:
    get:
      operationId: batches_retrieve
      parameters:
      - in: path
        name: batch_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - batch
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
          description: ''
components:
  schemas:
    BatchDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 254
        batch_type:
          type: string
          description: Key from pipeline config
          readOnly: true
        sample_ids:
          type: array
          items:
            type: string
            format: uuid
        last_status:
          allOf:
          - $ref: '#/components/schemas/BatchStatusNested'
          readOnly: true
        files:
          type: array
          items:
            $ref: '#/components/schemas/BatchFileNested'
          readOnly: true
          description: Batch files
      required:
      - batch_type
      - files
      - id
      - last_status
      - sample_ids
    BatchFileNested:
      type: object
      description: Sets batch.id as filename in file download_url.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        s3_path:
          type: string
          description: S3 object key
          maxLength: 1024
        size:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          nullable: true
          description: Size as reported by AWS in bytes
        download_url:
          type: string
          format: uri
          readOnly: true
          description: Download url
        file_type:
          type: string
          description: File extension
          readOnly: true
        checksum_sha256:
          type: string
          description: Object's sha256 Checksum
          maxLength: 64
        shadow_mode:
          type: boolean
          nullable: true
          description: If true, file is only accessible by organizations with shadow mode access enabled.
      required:
      - download_url
      - file_type
      - id
    BatchStatusNested:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        status:
          type: string
        created:
          type: string
          format: date-time
      required:
      - id
      - status
  securitySchemes:
    API key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
