openapi: 3.2.0
info:
  title: Gencove Back Pipeline API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Pipeline
paths:
  /api/v2/pipeline/:
    get:
      operationId: pipeline_list
      description: Retrieve list of user projects.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: sort_by
        schema:
          type: string
          enum:
          - created
        description: Sort results
      - in: query
        name: sort_order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort direction
      tags:
      - Pipeline
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPipelineListList'
          description: ''
      summary: Pipeline list
      x-summary-source: derived
  /api/v2/pipeline-capabilities/:
    get:
      operationId: pipeline_capabilities_list
      description: List pipeline capabilities
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: search
        schema:
          type: string
        description: Search pipeline capabilities by id
      tags:
      - Pipeline
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPipelineCapabilitiesList'
          description: ''
      summary: Pipeline capabilities list
      x-summary-source: derived
  /api/v2/pipeline-capabilities/{pipeline_capabilities_id}:
    get:
      operationId: pipeline_capabilities_retrieve
      description: Fetch single pipeline capabilities details
      parameters:
      - in: path
        name: pipeline_capabilities_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Pipeline
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineCapabilities'
          description: ''
      summary: Pipeline capabilities retrieve
      x-summary-source: derived
  /api/v2/pipeline-latest/:
    get:
      operationId: pipeline_latest_retrieve
      description: 'Returns latest (newest) Pipeline instance.


        retrieve: Fetch single newest pipeline details including it''s capabilities'
      tags:
      - Pipeline
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineDetail'
          description: ''
      summary: Pipeline latest retrieve
      x-summary-source: derived
  /api/v2/pipeline/{pipeline_id}:
    get:
      operationId: pipeline_retrieve
      description: Fetch single pipeline details including it's capabilities
      parameters:
      - in: path
        name: pipeline_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Pipeline
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineDetail'
          description: ''
      summary: Pipeline retrieve
      x-summary-source: derived
components:
  schemas:
    PipelineDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        version:
          type: string
          maxLength: 100
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/PipelineCapabilities'
      required:
      - capabilities
      - id
      - version
    PaginatedPipelineListList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/PipelineList'
    PipelineCategoryEnum:
      enum:
      - Human Genomics
      - Agriculture Animals & Plant Genomics
      - Companion Animals
      - Other
      type: string
      description: '* `Human Genomics` - human genomics

        * `Agriculture Animals & Plant Genomics` - animals plants

        * `Companion Animals` - companion animals

        * `Other` - other'
    PipelineCapabilities:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          description: Name from pipeline config
          maxLength: 254
        key:
          type: string
          description: Key from pipeline config
          maxLength: 254
        private:
          type: boolean
          description: True if private
        merge_vcfs_enabled:
          type: boolean
          description: Set to True if MergeVCFs can be run
        supported_project_modifications:
          description: List of project modification objects supported by the pipeline. Only the modifications listed under 'key' can be used. Note that 'value' is only used by the front-end to determine whether the check box should be set to True or False by default.
        modifications_enabled:
          type: string
          readOnly: true
        species:
          type: string
          readOnly: true
          description: Species
        pipeline_category:
          description: 'Category of the pipeline capability


            * `Human Genomics` - human genomics

            * `Agriculture Animals & Plant Genomics` - animals plants

            * `Companion Animals` - companion animals

            * `Other` - other'
          oneOf:
          - $ref: '#/components/schemas/PipelineCategoryEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        description_markdown:
          type: string
          readOnly: true
          description: 'Description markdown of a pipeline capability. '
        datasets:
          type: string
          readOnly: true
          description: Dataset descriptions.
        steps:
          type: string
          readOnly: true
          description: Pipeline capability steps that are enabled.
      required:
      - datasets
      - description_markdown
      - id
      - key
      - modifications_enabled
      - name
      - species
      - steps
    NullEnum:
      enum:
      - null
    BlankEnum:
      enum:
      - ''
    PaginatedPipelineCapabilitiesList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/PipelineCapabilities'
    PipelineList:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        version:
          type: string
          maxLength: 100
      required:
      - id
      - version
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
