openapi: 3.2.0
info:
  title: Gencove Back File API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: File
paths:
  /api/v2/file-types/:
    get:
      operationId: file_types_list
      description: List all legal file types
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: object
        schema:
          type: string
          enum:
          - reference_genome
          - sample
        description: List file types for a specific object, defaults to sample
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: project_id
        schema:
          type: string
        description: List file types for a project
      tags:
      - File
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFileTypeList'
          description: ''
      summary: File types list
      x-summary-source: derived
  /api/v2/files/{file_id}.sha256:
    get:
      operationId: files_.sha256_retrieve
      parameters:
      - in: path
        name: file_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - File
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          description: No response body
      summary: Files sha256 retrieve
      x-summary-source: derived
components:
  schemas:
    FileType:
      type: object
      properties:
        key:
          type: string
          description: File extension
          maxLength: 50
        description:
          type: string
      required:
      - key
    PaginatedFileTypeList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/FileType'
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
