openapi: 3.2.0
info:
  title: Gencove Back Basespace API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: basespace
paths:
  /api/v2/basespace-biosamples-import/:
    post:
      operationId: basespace_biosamples_import_create
      description: Add BaseSpace biosamples to a Gencove project.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceBioSamplesImport'
          description: ''
      summary: Basespace biosamples import create
      x-summary-source: derived
  /api/v2/basespace-project-biosamples/{basespace_project_id}:
    get:
      operationId: basespace_project_biosamples_list
      description: List currently logged in user's biosamples in a BaseSpace project.
      parameters:
      - in: path
        name: basespace_project_id
        schema:
          type: string
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: sort_by
        schema:
          type: string
          enum:
          - basespace_bio_sample_name
          - basespace_date_created
          - basespace_date_modified
        description: Sort results
      - in: query
        name: sort_order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort direction
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceBioSampleList'
          description: ''
      summary: Basespace project biosamples list
      x-summary-source: derived
  /api/v2/basespace-projects/:
    get:
      operationId: basespace_projects_list
      description: List currently logged in user's BaseSpace projects.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: sort_by
        schema:
          type: string
          enum:
          - basespace_date_created
          - basespace_date_modified
          - basespace_name
        description: Sort results
      - in: query
        name: sort_order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: Sort direction
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceProjectList'
          description: ''
      summary: Basespace projects list
      x-summary-source: derived
  /api/v2/basespace-projects-autoimport/:
    get:
      operationId: basespace_projects_autoimport_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseSpaceProjectsAutoimportList'
          description: ''
      summary: Basespace projects autoimport list
      x-summary-source: derived
    post:
      operationId: basespace_projects_autoimport_create
      description: Creates new autoimport job, if the job already exists updates metadata.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceProjectsAutoimportCreate'
          description: ''
      summary: Basespace projects autoimport create
      x-summary-source: derived
  /api/v2/basespace-projects-autoimport/{basespace_project_import_id}:
    delete:
      operationId: basespace_projects_autoimport_destroy
      parameters:
      - in: path
        name: basespace_project_import_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - basespace
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
      summary: Basespace projects autoimport destroy
      x-summary-source: derived
  /api/v2/basespace-projects-import/:
    post:
      operationId: basespace_projects_import_create
      description: Add all BaseSpace biosamples from BaseSpace projects to Gencove project.
      tags:
      - basespace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BaseSpaceProjectsImport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSpaceProjectsImport'
          description: ''
      summary: Basespace projects import create
      x-summary-source: derived
components:
  schemas:
    BaseSpaceProjectsAutoimportCreate:
      type: object
      description: Gencove representation of BaseSpace projects create and update autoimport response.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        metadata:
          description: Additional information to be attached to the Sample instances.
        action:
          type: string
          readOnly: true
      required:
      - action
      - id
    BaseSpaceProjectsImport:
      type: object
      description: Gencove representation of BaseSpace projects to be imported.
      properties:
        project_id:
          type: string
          format: uuid
        basespace_project_ids:
          type: array
          items:
            type: string
        metadata: {}
      required:
      - basespace_project_ids
      - project_id
    BaseSpaceProjectsAutoimport:
      type: object
      description: Gencove representation of BaseSpace projects to be imported periodically.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        project_id:
          type: string
          format: uuid
        identifier:
          type: string
        metadata: {}
      required:
      - id
      - identifier
      - project_id
    PaginatedBaseSpaceProjectList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceProject'
    BaseSpaceProject:
      type: object
      description: Gencove representation of BaseSpace project.
      properties:
        basespace_id:
          type: string
        basespace_name:
          type: string
        basespace_description:
          type: string
        basespace_date_created:
          type: string
          format: date-time
        basespace_date_modified:
          type: string
          format: date-time
      required:
      - basespace_date_created
      - basespace_date_modified
      - basespace_description
      - basespace_id
      - basespace_name
    PaginatedBaseSpaceBioSampleList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceBioSample'
    BaseSpaceBioSampleNested:
      type: object
      description: Single BaseSpace biosample to be imported.
      properties:
        basespace_id:
          type: string
        client_id:
          type: string
        sample:
          type: string
          format: uuid
          readOnly: true
      required:
      - basespace_id
      - client_id
      - sample
    PaginatedBaseSpaceProjectsAutoimportList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceProjectsAutoimport'
    BaseSpaceBioSamplesImport:
      type: object
      description: Project and accompanying BaseSpace biosamples to be imported.
      properties:
        project_id:
          type: string
          format: uuid
        basespace_bio_samples:
          type: array
          items:
            $ref: '#/components/schemas/BaseSpaceBioSampleNested'
        metadata: {}
      required:
      - basespace_bio_samples
      - project_id
    BaseSpaceBioSample:
      type: object
      description: Gencove representation of BaseSpace biosample.
      properties:
        basespace_id:
          type: string
        basespace_bio_sample_name:
          type: string
        basespace_date_created:
          type: string
          format: date-time
        basespace_date_modified:
          type: string
          format: date-time
        basespace_status:
          type: string
        basespace_lab_status:
          type: string
        basespace_user_owned_by_id:
          type: string
      required:
      - basespace_bio_sample_name
      - basespace_date_created
      - basespace_date_modified
      - basespace_id
      - basespace_lab_status
      - basespace_status
      - basespace_user_owned_by_id
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
