openapi: 3.2.0
info:
  title: Gencove Back S3 API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: S3
paths:
  /api/v2/s3-external-id/:
    get:
      operationId: s3_external_id_retrieve
      description: Retrieve and store S3 external ID for User.
      tags:
      - S3
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3ExternalID'
          description: ''
      summary: S3 external id retrieve
      x-summary-source: derived
    post:
      operationId: s3_external_id_create
      description: Retrieve and store S3 external ID for User.
      tags:
      - S3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3ExternalID'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3ExternalID'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3ExternalID'
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3ExternalID'
          description: ''
      summary: S3 external id create
      x-summary-source: derived
  /api/v2/s3-role/:
    get:
      operationId: s3_role_retrieve
      description: Retrieve and store S3 role for User.
      tags:
      - S3
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3Role'
          description: ''
      summary: S3 role retrieve
      x-summary-source: derived
    post:
      operationId: s3_role_create
      description: Retrieve and store S3 role for User.
      tags:
      - S3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3Role'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3Role'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3Role'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3Role'
          description: ''
      summary: S3 role create
      x-summary-source: derived
    delete:
      operationId: s3_role_destroy
      description: Retrieve and store S3 role for User.
      tags:
      - S3
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
      summary: S3 role destroy
      x-summary-source: derived
  /api/v2/s3-uri-autoimport/:
    get:
      operationId: s3_uri_autoimport_list
      description: Import samples from s3 uri automatically.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - S3
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedS3URIAutoimportList'
          description: ''
      summary: S3 uri autoimport list
      x-summary-source: derived
    post:
      operationId: s3_uri_autoimport_create
      description: Creates new autoimport job, if the job already exists updates metadata.
      tags:
      - S3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3URIAutoimport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3URIAutoimport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3URIAutoimport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3ProjectsAutoimportCreate'
          description: ''
      summary: S3 uri autoimport create
      x-summary-source: derived
  /api/v2/s3-uri-autoimport/{s3_uri_import_id}:
    delete:
      operationId: s3_uri_autoimport_destroy
      description: Import samples from s3 uri automatically.
      parameters:
      - in: path
        name: s3_uri_import_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - S3
      security:
      - JWT: []
      - API key: []
      responses:
        '204':
          description: No response body
      summary: S3 uri autoimport destroy
      x-summary-source: derived
  /api/v2/s3-uri-import/:
    post:
      operationId: s3_uri_import_create
      description: Import samples from s3 uri.
      tags:
      - S3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3URIImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/S3URIImport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/S3URIImport'
        required: true
      security:
      - JWT: []
      - API key: []
      responses:
        '202':
          description: No response body
      summary: S3 uri import create
      x-summary-source: derived
components:
  schemas:
    S3URIImport:
      type: object
      description: S3 URI import serializer.
      properties:
        s3_uri:
          type: string
          maxLength: 734
        project_id:
          type: string
          format: uuid
        metadata: {}
        input_format:
          allOf:
          - $ref: '#/components/schemas/InputFormatEnum'
          default: autodetect
      required:
      - project_id
      - s3_uri
    InputFormatEnum:
      enum:
      - cram
      - fastq
      - autodetect
      type: string
      description: '* `cram` - cram

        * `fastq` - fastq

        * `autodetect` - autodetect'
    S3ProjectsAutoimportCreate:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        topic_arn:
          type: string
          description: SNS Topic where events of added samples will be received.
          maxLength: 768
      required:
      - id
    S3URIAutoimport:
      type: object
      description: S3 URI auto import serializer.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        project_id:
          type: string
          format: uuid
        s3_uri:
          type: string
          maxLength: 734
        metadata: {}
      required:
      - id
      - project_id
      - s3_uri
    PaginatedS3URIAutoimportList:
      type: object
      required:
      - results
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
            next:
              type:
              - string
              - 'null'
              format: uri
            previous:
              type:
              - string
              - 'null'
              format: uri
          required:
          - count
        results:
          type: array
          items:
            $ref: '#/components/schemas/S3URIAutoimport'
    S3ExternalID:
      type: object
      description: External ID for S3 imports serializer.
      properties:
        external_id:
          type: string
          format: uuid
          readOnly: true
      required:
      - external_id
    S3Role:
      type: object
      description: Role ARN for S3 imports serializer.
      properties:
        role_arn:
          type: string
          maxLength: 2048
          minLength: 20
      required:
      - role_arn
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
