openapi: 3.2.0
info:
  title: Gencove Back Notification API
  version: v2
  contact:
    email: support@gencove.com
  license:
    name: Proprietary
  description: 'API for Gencove REST service. Visit enterprise.gencove.com and docs.gencove.com for more information.


    To work with Insomnia, you can generate a Gencove API key by clicking here. Once you have the API key and have imported the project in Insomnia as a Request Collection, enter the key in Insomnia under Manage Environment.

    Run in Insomnia'
servers:
- url: https://api.gencove.com
tags:
- name: Notification
paths:
  /api/v2/notifications/{notification_id}:
    get:
      operationId: notifications_retrieve
      description: 'List all available subscriptions for given project or create a new

        subscription.'
      parameters:
      - in: path
        name: notification_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Notification
      security:
      - JWT: []
      - API key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSubscriptionNotificationDetail'
          description: ''
      summary: Notifications retrieve
      x-summary-source: derived
components:
  schemas:
    ProjectSubscriptionNotificationDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created:
          type: string
          format: date-time
        response_status:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        notification_event_type:
          type: string
          readOnly: true
          description: notification event type
        response_message:
          type:
          - string
          - 'null'
        payload_url:
          type: string
          readOnly: true
          description: presigned s3 url for the payload content
      required:
      - id
      - notification_event_type
      - payload_url
  securitySchemes:
    API_key:
      type: apiKey
      description: 'Authorization header content formated as: `Api-Key <API-key>`

        You can obtain new API key through Gencove''s web UI or `user-api-key` endpoint'
      in: header
      name: Authorization
    JWT:
      type: apiKey
      description: 'Authorization header content formated as: `Bearer <json-web-token>`

        You can obtain access token using `jwt-create` endpoint.'
      in: header
      name: Authorization
